:root {
  --card-deck-total-width: max(80vw, 500px);
  --card-total-width: max(calc(var(--card-deck-total-width) / 13), 150px);
  --card-height: calc(var(--card-total-width) * 3.5 / 2.25);
  --card-overlap-percent: 1;
  --card-width-overlap: calc(var(--card-total-width) * var(--card-overlap-percent));
  --card-width-non-overlap: calc(var(--card-total-width) * (1 - var(--card-overlap-percent)));
}

.game {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.card-deck {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;

  padding: 0;
  width: calc(var(--card-deck-total-width));
}
