:root {
  --main-bg-color: #F3F6F6;
  --dark-color: #E0E4E5;
  --text-background-color: #EDF1F1;
  --header-color: #B24B4E;
  --red-color: #B24B4E;
  --text-color: #353A4F;

  --card-text-colour: #353A4F;
  --card-colour: #ffffff;

  --big-font-size: 28px;
  --bigger-font-size: 30px;
  --biggest-font-size: 32px;
  --main-font-size: 20px;
  --small-font-size: 18px;
  --smaller-font-size: 14px;
  --smallest-font-size: 12px;

  --menu-height: 75px;
  --container-width: 400px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #1B1B3A;
    --dark-color: #2D3142;
    --text-background-color: #353A4F;
    --header-color: #A0B6A5;
    --red-color: #B24B4E;
    --text-color: #f6bd60;
  }

}


body {
  background: var(--main-bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif !important;
  font-size: var(--main-font-size);
  font-weight: 300;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

#root {
  height: 100%;
}

main {
  height: calc(100% - var(--menu-height));
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
}

h4, h5, h6 {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300;
}

h1 {
  font-size: var(--biggest-font-size);
}

h2 {
  font-size: var(--bigger-font-size);
}

h3 {
  font-size: var(--big-font-size);
}

h1, h2, h3 {
  color: var(--header-color);
}

a, a:hover {
  color: var(--red-color);
}

small {
  font-size: var(--small-font-size);
}

.mono {
  font-family: 'Roboto Mono', monospace;
}

button {
  cursor: grab;
}

.menu {
  padding: 15px;
  height: var(--menu-height);
  color: var(--main-bg-color);
  background: var(--text-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-text {
  color: var(--main-bg-color);
  margin: 0;
}

.menu-button {
  width: 200px;
  height: var(--menu-height);
  border: var(--main-bg-color) solid 2px;
  padding: 0;
  margin: 0;
  font-size: 28px;
  color: var(--main-bg-color);
  background: var(--text-color);
  border-radius: 15px;
}

.menu-button:hover {
  border-color: var(--red-color);
}

.menu-button:focus {
  background: var(--red-color);
}

.menu-v {
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: var(--menu-height);
}

.menu-h {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: var(--menu-height);
}

.warn {
  font-weight: 700;
  color: var(--red-color);
}

.info {
  font-weight: 700;
}